@import url(https://fonts.googleapis.com/css?family=Cormorant:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

@import url('sections/header.css');
@import url('sections/hero.css');
@import url('sections/blockquote.css');
@import url('sections/collection.css');
@import url('sections/reviews.css');
@import url('sections/blog.css');
@import url('sections/know.css');

:root {
	--cormorant: 'Cormorant', sans-serif;
	--open-sans: 'Open Sans', sans-serif;

	--light-bg: #f7f2ea;

	--black-color: #151618;
	--white-color: #ffffff;
	--light-green: #b8b58b;
}

html {
	box-sizing: border-box;
	font-family: var(--cormorant);
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.container {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section__title {
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 60px;
}

.btn {
	max-width: 151px;

	display: block;
	padding: 12px 41px;

	font-family: var(--open-sans);
	font-size: 20px;
	font-weight: 300;

	background-color: var(--white-color);

	border: 1px solid var(--black-color);
}
