@import url(https://fonts.googleapis.com/css?family=Cormorant:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

@import url('sections/header.css');
@import url('sections/hero.css');

:root {
	--cormorant: 'Cormorant', sans-serif;
	--open-sans: 'Open Sans', sans-serif;

	--light-bg: #f7f2ea;

	--black-color: #151618;
	--white-color: #ffffff;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.container {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
