@import url('../header.css');
@import url('sections/hero.css');
@import url('sections/blockquote.css');
@import url('sections/collection.css');
@import url('sections/reviews.css');
@import url('sections/blog.css');
@import url('sections/know.css');
@import url('sections/prioritises.css');
@import url('../footer.css');

.container {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section__title {
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 60px;
}

.btn {
	max-width: 151px;

	display: block;
	padding: 12px 41px;

	font-family: var(--open-sans);
	font-size: 20px;
	font-weight: 300;

	background-color: var(--white-color);

	border: 1px solid var(--black-color);
}
